<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TA Application</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/logout">Logout</a>
      <a href="/register">Register</a>

      <% if (role === 'staff') { %>
      <a href="/staff/dashboard">Manage Courses</a>
      <% } else if (role === 'student') { %>
      <a href="/student/dashboard">Available Courses</a>
      <% } else if (role === 'instructor') { %>
      <a href="/instructor/dashboard">Manage Applications</a>
      <% } %>
    </nav>
    <main><%- body %></main>
  </body>
</html>
