<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TA Application</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/logout">Logout</a>
      <a href="/register">Register</a>
    </nav>
    <main><%- body %></main>
  </body>
</html>
